@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.page__body {
    background-color: var(--main-color-light);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}