:root {
    --main-color-light: #EFE6E4;
    --main-color-dark: #8D7370;
    --secondary-color: #E2C4BA;
    --text-color: #533738;
    --text-color-second: #FFFFFF;
    --btn-color: #CC8B86;
    --works-hover-color: #644845;
    --form-inputs-color: #F6EDE9;
    --arrows-color: #F5F2ED;
}