.about {
    min-height: 70vh;
    padding-top: 65px;
    background-color: var(--main-color-light);
}

.about__title {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.about__inner {
    display: flex;
    margin-bottom: 21px;
}

.about__img-container {
    min-width: 445px;
    min-height: 465px;
    margin-right: 63px;
}

.about__img {}

.about__content {
    max-width: 530px;
}

.about__text {}

.about__text:not(:last-child) {
    margin-bottom: 40px;
}

.about__achievements {}