.achievements {
    background-color: var(--main-color-dark);
    padding-top: 85px;
    padding-bottom: 81px;
}

.achievements__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}