.header {
    min-height: 100vh;
    background-image: url(/img/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__menu {
    padding-top: 36px;
}

.header__request {}