.reviews {
    display: flex;
    justify-content: center;
    padding: 65px 0;
}

.reviews__title {
    text-transform: uppercase;
    margin: 0 auto 40px auto;
    max-width: max-content;
}

.reviews__slider {
    width: 834px;
}