.slider {
    max-width: 834px;
}

.slider__wrapper {}

.slider__items {
    list-style: none;
    padding: 0;
}

.slider__item {}

.swiper-button {
    content: '';
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: var(--btn-color);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button:hover {
    transform: scale(1.1);
}

.swiper-button-prev--rev {
    top: calc(50% - 36px);
    left: -101px;
    background-image: url(../../img/svg/arr-l.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-next--rev {
    top: calc(50% - 36px);
    right: -101px;
    background-image: url(../../img/svg/arr-r.svg);
    background-repeat: no-repeat;
    background-position: center;
}